Google__ClientId = ""
Google__ClientSecret = ""
SMTP__Password = ""
RabbitMQ__HostName = ""
RabbitMQ__UserName = ""
RabbitMQ__Password = ""
AwsS3__UploadsBucketName = ""
AwsS3__ImagesBucketName = ""
AwsS3_AccessKey = ""
AwsS3_SecretKey = ""
